@if(tracks?.length > 0) {
	<table class="table table-sm table-light table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Track</th>
				<th scope="col">Duration</th>
				<th *ngIf="!hideArtist" scope="col">Primary Artist</th>
				<th *ngIf="!hideAlbum" scope="col">Album</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let track of tracks; let i = index">
				<td>{{ i + 1 }}</td>
				<td>
					<a [routerLink]="['/track', track.id]">{{ track.name }}</a>
				</td>
				<td>{{ track.durationStr}}</td>
				<td *ngIf="!hideArtist">
                    <a [routerLink]="['/artist', track.artists[0].id]">{{ track.artists[0].name }}</a>
                </td>
				<td *ngIf="!hideAlbum">
                    <a [routerLink]="['/album', track.album.id]">{{ track.album.name }}</a>
                </td>
			</tr>
		</tbody>
	</table>
}
