<h1>Search Spotify</h1>
<input type="text"
       [(ngModel)]="searchString"
       (keyup.enter)="search()"
       placeholder="Search for an artist, an album, or a track...">


<select [(ngModel)]="searchCategory" (change)="onCategoryChange()">
    <option *ngFor="let category of searchCategories" [value]="category">
        {{ category | titlecase }}
    </option>
</select>

<button class="btn btn-light" (click)="search()">Search</button>

<app-carousel *ngIf="searchCategory !== 'track'"
              [resources]="resources"
              [carouselId]="'carouselId'">
</app-carousel>

<app-track-list *ngIf="searchCategory === 'track'"
                [tracks]="resources">
</app-track-list>