@if(artist) {
	<div class="row">
		<div class="col-xl-4 col-12">
			<h1>{{ artist.name }}</h1>
			<img id="artistImg" src="{{ artist.imageURL }}" alt="Image of {{ artist.name }}">
			<p>
				<a href="{{ artist.url }}" class="btn btn-light" role="button" target="_blank">Open {{ artist.name }} on Spotify</a>
			</p>
		</div>
		<div class="col-xl-4 col-12">
			<h3>Popularity</h3>
			<p>{{ artist.followers | number }} followers</p>
			<app-thermometer [popularity]="artist.popularity"></app-thermometer>
			<h3>{{ artist.name }}'s Albums</h3>
			<!--TODO: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
            <app-carousel [resources]="albums"
                          [carouselId]="'carouselId'">
            </app-carousel>
		</div>
		<div class="col-xl-4 col-12">
			<h3>{{ artist.name }}'s Top Tracks</h3>
			<!--TODO: display the artist's top tracks-->
            <app-track-list [tracks]="topTracks">
            </app-track-list>
		</div>
	</div>
}